*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}

.container{
  height: 100%;
  width: 100%;
  background-color: rgb(69, 62, 62);
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.4rem;
  padding: 4rem;
  border: 2px solid white;
  justify-items: end;
}

.item{
  height: 100px;
  width: 100px;
  background-color: rgb(32, 109, 109);
  border: 5px solid white;
  justify-self: end;
  align-self: center;
}